*{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
     position: relative;
     overflow-x: hidden;
 }
body, html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}
/* Wrappers */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 220px;
}
#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}
/* Sidebar nav styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}
.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
/* Hamburger-Cross */
.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}


div.col-lg-8 h1, div.col-lg-8 h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 29px;
    color: #222222;
}
div.col-lg-8 h1{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.5),20px 8px 13px rgba(0,0,0,0.1), 30px 18px 23px rgba(0,0,0,0.1);
    font-size: 35px;
}
 .smth-soon, .text-center, .me-info{
    --border: dotted;
}
.img-circle{
    width: 130px;
    cursor: pointer;
}
.me-info{
    position: relative;
}
.social-net{
    position: absolute;
    left: 30%;
    --border: dotted;
}
.social-net li{
    opacity: 0;
    float: left;
    margin-left: 40px;
    list-style-type: none;
    --border: #1a1a1a dotted;

}
div.col-lg-8 .img-circle{
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4), 5px 8px 20px rgba(0,0,0,0.5), 3px 12px 22px rgba(0,0,0,0.1);
}
div.social-net ul li img.img-circle, div.social-net ul li img.img-rounded {

     width: 65px;
     cursor: pointer;
}

div.col-lg-8 .img-circle:hover, div.social-net li img:hover{
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;

    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}



body {
    background-color: rgba(126, 126, 135, 0.86);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTAwYjEzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxMDBiMTMiIHN0b3Atb3BhY2l0eT0iMC43MyIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2VlZjJmYyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgb(16, 11, 19)),color-stop(0, rgba(16, 11, 19, 0.73)),color-stop(1, rgb(238, 242, 252)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(right,rgb(84, 69, 69) -2.1%,rgba(16, 11, 19, 0.73) 0%,rgb(238, 242, 252) 100%);
    /* IE10+ */
    background-image: linear-gradient(to left,rgb(84, 69, 69) -2.1%,rgba(16, 11, 19, 0.73) 0%,rgb(238, 242, 252) 100%);
    background-image: -ms-linear-gradient(right,rgb(84, 69, 69) -2.1%,rgba(16, 11, 19, 0.73) 0%,rgb(238, 242, 252) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    body {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffeef2fc",endColorstr="#ff544545",GradientType=1);
    }
}

#r-text{
    display: inline-block;
    --border: dotted;
}

.v-jump{
    position: relative;
    display: inline-block;
    --border: dotted;
    padding-bottom: 10px;
    -webkit-animation: bounce 0.3s ease infinite alternate;


}
.paused{
    animation-play-state:paused;
}


@-webkit-keyframes bounce {
    from {
        bottom: 0px;
    }
    to{
        bottom: 10px;
    }
}

#jump-wrapper{
    position: relative;
    --border: dotted;
    height: 100%;
    width: 100%;
}


--костыли для фоток
